<%= form_with(model: api_ingredient) do |form| %>
  <% if api_ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api_ingredient.errors.count, "error") %> prohibited this api_ingredient from being saved:</h2>

      <ul>
        <% api_ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :kcalorie_count, style: "display: block" %>
    <%= form.number_field :kcalorie_count %>
  </div>

  <div>
    <%= form.label :protein_count, style: "display: block" %>
    <%= form.number_field :protein_count %>
  </div>

  <div>
    <%= form.label :carbohydrate_count, style: "display: block" %>
    <%= form.number_field :carbohydrate_count %>
  </div>

  <div>
    <%= form.label :fat_count, style: "display: block" %>
    <%= form.number_field :fat_count %>
  </div>

  <div>
    <%= form.label :weight_in_gramms, style: "display: block" %>
    <%= form.number_field :weight_in_gramms %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
