<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Kcalorie count:</strong>
    <%= ingredient.kcalorie_count %>
  </p>

  <p>
    <strong>Protein count:</strong>
    <%= ingredient.protein_count %>
  </p>

  <p>
    <strong>Carbohydrate count:</strong>
    <%= ingredient.carbohydrate_count %>
  </p>

  <p>
    <strong>Fat count:</strong>
    <%= ingredient.fat_count %>
  </p>

  <p>
    <strong>Weight in gramms:</strong>
    <%= ingredient.weight_in_gramms %>
  </p>

</div>
